:root{
    --primary_color: rgb(5, 83, 201);
}

body{
    background:lightgray;
    margin: 0%;
    font-family:sans-serif;
}

section{
    padding: 5em 2em;
}

//Video_Section
.intro{
    height: 100vh;
}

.intro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro{
    h6{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        color: white;
    }
}

section{

    h6{
        padding-top: 300px;
        text-align: center;
        font-size: 80px;
    }
}

//Navigation_Bar
.navbar{
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.603);
    backdrop-filter: blur(5rem);
    padding: .5em;

    .logo{
        img{
            width: 17%;
            margin: 0%;
            padding-left: 50%;
            float: left;
        }
    }

    nav{
        display: none;
    }

    nav.menu_btn{
        display: block;
    }

    nav{
        position: fixed;
        z-index: 999;
        width: 66%;
        right: 0;
        top: 0;
        background: var(--primary_color);
        height: 100vh;
        padding: 1em;

        .mobile_menu_exit{
            width: 9%;

            float: right;
            margin: .5em;
            cursor: pointer;

        }

        .primary_nav{
            margin-top: 5em;

        }

        li{
            a{
                color: white;
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile_menu{
        cursor: pointer;
        width: 7%;
        padding-right: 2%;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

//Hero_Section
.hero{
    text-align: center;

    .left_col{
        .subhead{
            text-transform: uppercase;
            font-weight: bold;
            color: gray;
            letter-spacing: .3em;
        }
    
        h1{
            font-size: 2.5em;
            line-height: 1.3em;
            margin-top: .2em;
        }
    
        .primary_cta{
            background: var(--primary_color);
            color: white;
            text-decoration: none;
            padding: .6em 1.3em;
            font-size: 1.4em;
            border-radius: 5em;
            font-weight: bold;
            display: inline-block;
        }
    }
    
    .hero_img{
        width: 70%;
        margin-top: 3em;
        
    }
}

//Features_section
.features_section{
    background: darkgray;
    color: white;

    ul{
        margin: 0%;
        padding-left: .1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

        li{
            font-size: 1.5em;
            margin-bottom: 1em;
            margin-left: 2em;
            position: relative;

            &:before{
                content: '';
                left: -2em;
                position: absolute;
                width: 30px;
                height: 30px;
                background-image: url(../images/hashtag.svg);
                background-size: contain;
                margin-right: .5em;

            }
        }
    }

    img{
        display: none;
    }
}

//Testimonials_section
.testimonials_section{
    background: var(--primary_color);
    color: white;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            background: rgb(2, 48, 102);
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;
    
            img{
                width: 5em;
                height: 5em;
                border: 5px solid rgb(2, 48, 102);
                border-radius: 50%;
                margin-top: -4.5em;
    
            }
    }

    
    }
}

//Contact_section
.contact_section{
    h2{
        font-size: 2em;
    }

    label{
        display: block;
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    input, textarea{
        width: 100%;
        padding: .8em;
        margin-bottom: 1em;
        border-radius: .3em;
        border: 1px solid gray;
        box-sizing: border-box;
    }

    .send_message_cta{
        background: var(--primary_color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
        width: unset;
        cursor: pointer;
    }
}

//Webpage_In_webpage
iframe{
    width: 100%;
    height: 300px;
}

//Mobile_Versions
@media only screen and (min-width: 990px){
    
    .mobile_menu, .mobile_menu_exit{
        display: none;
    }

    .hero_img{
        width: 70%;
    }

    .navbar{
        ul.primary_nav{
            margin: 0;
        }
        .container{
            display: grid;
            grid-template-columns: 350px auto;
            justify-content: unset;
        }

        nav{
            display: flex;
            justify-content: space-between;
            background: none;
            position: unset;
            height: auto;
            width: 100%;
            padding: 0;

            ul{
                display: flex;

                a{
                    font-size: 1em;
                    padding: 1em 1em;

                }
            }

            .premium_sh{
                a{
                    color: var(--primary_color);
                    border: 3px solid var(--primary_color);
                    font-weight: bold;
                    border-radius: 5em;

                    &:hover{
                        background: var(--primary_color);
                        color: white;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 989px) {
    .navbar{
        padding: 1px;
        .logo{
            img{
                width: 10%;
            }
        }
    }
}

@media only screen and (min-width: 1080px){
    .container{
        width: 1080px;
        margin: 0 auto;
    }

    section{
        padding: 10em 4em;
    }

    .hero{
        .container{
            display: flex;
            justify-content: space-between;
            text-align: left;

            .left_col{
                margin: 3em 3em 0 5em;

                h1{
                    font-size: 3em;
                    width: 90%;
                }
            }

            .hero_img{
                width: 30%;
            }
        }
    }

    .features_section{
        .features_list{
            display: block;
            margin-left: 5em;
        }

        position: relative;

        img{
            display: block;
            position: absolute;
            right: 0;
            width: 40em;
            bottom: -5.6em;
        }
    }

    .testimonials_section{
        ul{
            display: flex;
            
            li{
                margin: 0 1em;
            }
        }
    }
}